.create-workout-button {
  background-color: #88e4fc;
  color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 18px;
}

.workout-form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 30px;
  width: 400px;
  z-index: 1000;
}

.workout-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.workout-card {
  width: 25%;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: white;
  margin-left: 115px;
  margin-right: 15px;
  border: 2px solid black;
}

.save-button {
  background-color: #88e4fc;
  border: 2px solid black;
}

.myWorkoutContainer {
  display: flex;
  flex-direction: row;
}

.clientWorkouts {
  max-width: 30%;
  width: 100%;
}
