/* WorkoutTable.scss */

.workout-container {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;

  .trainee-selector select {
    padding: 8px 12px;
    font-size: 16px;
    width: 200px;
    text-align: center;
  }

  .center-heading {
    margin-bottom: 30px;
  }

  .custom-table-container {
    max-width: 1000px;
    margin: auto;
  }
}
