.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #88e4fc;
  padding: 20px;
}

.navbarItem {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  font-size: 14px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.navbarItem:hover {
  color: #000;
  background-color: #27d2fd;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 150px;
  height: auto;
}

.endContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.dropdown {
  width: 9rem;
  margin-left: auto;
  align-self: flex-end;
}
.spacer {
  flex-grow: 1;
  width: 100%;
}
