.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #88e4fc;
  padding: 20px;
}

.navbarItem {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  font-size: 17px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.navbarItem:hover {
  color: #000;
  background-color: #27d2fd;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 150px;
  height: auto;
}
