// @import-normalize;

@import 'primereact/resources/themes/lara-light-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
}
